.header h1{

    padding: 50px;
    display:block;
    text-align: center;
    margin: auto;
    font-size: 40px;

}

.checkout-body{


    display:block;
    margin-top: 50px;
    margin-left: 20%;
    

}

.checkout-body a{


    background-color: black;
    padding: 10px;


}
.checkout-body a:hover{


    background-color: #434343;



}