/* 


.scroll-buttons {
    
    cursor: pointer;
    font-size: x-large;
    color: #1b1b1b;
    background-color: white;
    padding: 20px;
    z-index: 1;
  }
  
  .scroll-buttons:hover {
    background-color: #c4c4c4;
    color: #000000;
  }
  
  .scroll-buttons.left {
    float: left;
    margin-bottom: 900px;
    left: -1px;
  }
  
  .scroll-buttons.right {
    float:right;
    right: -1px;
  } */