ul {
	margin-right: 30px;
	padding: 0;
	list-style: none;
  }
  
  .logo {
	  margin: 0;
  
  }
  
  .main-nav {
	  margin-top: 5px;
  
  }
  
  .main-nav a {
	  padding: 10px 15px;
	  text-transform: uppercase;
	  text-align: center;
	  display: block;
  }
  
  .main-nav a {
	  color: #ffffff;
	  font-size: 2em;
  }
  
  .main-nav a:hover {
	  color: #718daa;
  }
  
  .main-nav div{
  
	display: none;
  
  }
  
  .main-nav input[type=text] {
	padding: 6px;
	height: 40px;
	margin-top: 15px;
	font-size: 17px;
	border: none;
  }
  
  
  .main-nav .search-container button {
  
	margin-top: 15px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .main-nav .search-container button:hover {
	background: #ccc;
  }
  
  .temp-searchbutton{
  
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
  
  
	  background: #ddd;
	  font-size: 17px;
	  border: none;
	  cursor: pointer;
	}
  
  
  
  .header {
  
  
	  background-color: #363636;
  
  }
  
  
  
  /* ================================= 
	Media Queries
  ==================================== */
  
  
  
  
  @media (min-width: 769px) {
	  .header,
	  .main-nav {
		  display: flex;
	  }
	.main-nav div{
  
	  display: flex;
	  margin-left: 10px;
	  
  
	}
  
  
	  .header {
		  flex-direction: column;
		  align-items: center;
		  .header{
		  width: 80%;
		  margin: 0 auto;
		  max-width: 1150px;
	  }
	  }
  
  }
  
  @media (min-width: 1025px) {
  
	.main-nav div{
  
	  display: flex;
	  margin-left: 10px;
  
	}
	  .header {
		  flex-direction: row;
		  justify-content: space-between;
	  }
  
  }