* {
  font-family: "Tektur", cursive !important;
}

body {
  background-image: url(./images/bgrnd.jpg);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px;
}

h1,
p {
  text-align: center;
}

.logo {
  margin: auto;
  padding-left: 5px;
}

.funny {
  display: block;
  margin: auto;
}

.menu {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0px;
}

.menu .btn {
  position: relative;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .btn a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.menu .btn a:hover {
  letter-spacing: 3px;
}

.menu .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.menu .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.menu .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.menu .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.menu .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.menu .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.menu .btn::before,
.menu .btn::after {
  background: #280137;
  box-shadow: 0 0 5px #280137, 0 0 15px #605885, 0 0 30px #948db3,
    0 0 60px #433b67;
}

.gallery-container {
  width: 100%;
  min-width: 800px;
  display: flex;
  overflow-x: scroll;
  transition: transform 0.3s ease;
  position: center; /* Add relative positioning to the container */
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  scroll-behavior: smooth;
}

.gallery-item {
  min-width: 200px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  margin: 10px;
  padding: 10px;
  background-color: #000000;
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.scroll-buttons {
  position: absolute;
  top: 40%;
  font-size: 48px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-buttons.left {
  left: 10px;
}

.scroll-buttons.right {
  right: 10px;
}
