* {
    font-family: 'Tektur', cursive !important;
    color: aliceblue !important;
}

body {
    background-image: url(./images/bgrnd.jpg);
}

h1,p {
    text-align: center;
}

.logo {
    margin: auto;
    padding-left: 5px;
}

.funny {
    display: block;
    margin: auto;
}