.item-listing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(30, 30, 30);
    max-width: 300px;
    max-height: 600px;
    min-width: 300px;
    max-height: 600px;
    margin-left: 10px;
    text-align: center;
    font-family: arial;
    zoom: 80%;
  }
  
  .price {
    padding-top: 30px;
    padding-bottom: 30px;
    color: grey;
    font-size: 22px;
  }
  
  .item-listing a{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .item-listing a:hover{
    background-color: #434343;

  }
  
  .scroll-container {
    display: flex;
    background-color: #4d4d4d;
    white-space: nowrap;
    overflow: auto;
    padding: 10px;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 10px;
  }
  
  .scroll-container div {
    padding: 10px;
  }
