#search-table {
  border-collapse: collapse;
  color: black;
  background-color: #848484;
  font-size: x-large;
  text-align: center;
}

#search-table td,
#search-table th {
  padding: 8px;
  cursor: pointer;
  width: 1%; /* Each column gets 25% of the table width */
}

img {
  max-width: 200px;
}

#image-column {
  text-align: left;
}

#search-table tr:nth-child(even) {
  background-color: #dadada;
}

#search-table tr:hover {
  background-color: #718daa;
}

#search-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #383838;
  color: white;
  text-align: center;
}

.center {
  display: block;
  justify-content: center;
  width: 70%;
  margin: auto;
}
