#search-results {
    
    border-collapse: collapse;
    color:black;
    background-color: #848484;
    width: 100%;
    
  }
  
  #search-results td, #search-results th {
    padding: 8px;
    cursor: pointer;
  }

  #search-results img{
    
    width:100%;
    max-width:200px;
    
  }
  
  #search-results tr:nth-child(even){background-color:#dadada;}
  
  #search-results tr:hover {background-color: #6f5151;}
  
  #search-results th {

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #383838;
    color: white;
  }


  .center{

    display: block;
    justify-content: center;
    width: 90%;
    margin:auto;

  }


    #search-results {
       font-size: x-large;

  }

  